*{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
}
.container{
    margin: 50px 40px;
    background-color: #fafafa;
    box-shadow:10px 15px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 40% 60%;
}
.container-time{
    background-color: rgba(0, 0, 0, 0.95);
    padding: 50px;
    outline: 3px solid #998100;
    outline-offset: -30px;
    text-align: center;
}
.heading-yellow{
    color: #998100;
    font-size: 38px;
}
.heading{
    font-size: 35px;
    text-transform:uppercase ;
}
.heading-days{
    color: #998100;
    font-size: 30px;
}
.heading-phone{
    font-size: 20px;
}
.container-form{
    padding: 20px ;
    margin: 0 auto;
    color: black;
}
form{
    display: grid;
    grid-row-gap: 20px;
}
form p{
    margin: 10px 10px;
    display: flex;
    font-weight: 600;
}
.form-field{
    display:flex;
    justify-content: space-between;
}
input,select{
    pad: 20px 15px;
}
h5{
    text-align: center;
    background-color: burlywood;
    color: darkblue;
    padding: 10px 10px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
}
h5:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);

}