/** best color dfe6e9*/

@font-face {
    font-family: rianty;
    src: url(../font/Rianty.ttf);
}
@font-face {
    font-family: Honey;
    src: url(../font/Honey.otf);
}
@font-face {
    font-family: Break;
    src: url(../font/Break.ttf);
}
@font-face {
    font-family: StickyNotes;
    src: url(../font/StickyNotes.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #6e5736;
}
.coood video {
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 90%;
    min-height: 400px;
    object-fit: cover;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6));
   
  }
.coood{
    align-items: center;
    justify-content: center;
    
    width: 85%;
    margin: auto;
    
    z-index: 2;
}
header{
    height: 80vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-bottom-right-radius: 20px;
    z-index: 10;
}
.nav_links{
    float: right;
    list-style: none;
    margin-top: 30px;
    z-index: 10;
}
.nav_links li{
    display: inline-block;
}
.nav_links li a{
    font-weight: bold;
    font-family: 'Break';
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 20px;

}
.nav_links li a:hover{
    color: rgb(255, 196, 0);
}
.logo img{
    margin: 20px;
    float: left;
    width: 100px;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 100px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    
}
.welcome-text a{
    top: 100%;
    padding-right: 50px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(255, 196, 0);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 28px;
    font-family: 'StickyNotes';
    overflow: hidden;
    transition: 0.2s;
}

.welcome-text a span{
    position: absolute;
    display: block;
}
.welcome-text a span:nth-child(1){
    top:  0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #d5dbe0);
}
.welcome-text a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.welcome-text a span:nth-child(3){
    bottom:  0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8d9499);
}
.welcome-text  a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.4s;
}
.welcome-text a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #b6b2b2);
}
.welcome-text a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.welcome-text a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e2e7eb);
}
.welcome-text a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
footer {
    align-items: center;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)) ,url('../Images/Walls\ \(33\).jpg');
   
    color: rgb(224, 215, 215);
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col{
    flex-basis: 25%;
    padding: 10px;
}
.logo2{
    width: 100px;
    margin-bottom: 30px;
}
.logo11{
    width: 30px;
    margin: 1%;
    margin-bottom: 30px;
}
.footer-col h5{
    color: #fff;
    font-size: 20px;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-col h4{
    font-size: 15px;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-col h2{
    font-style: italic;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-col p a{
    font-size: 12px;
    color: aliceblue;
}
.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.line{
    width: 60%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(219, 202, 202);
}
.aa{ 
    text-align: center;
}


h3{
    text-align: center;
}
h3{
    color: cornflowerblue;
    text-align: center;
    margin-left: 35%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 35%;
    background-color: #f9ca24 ;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
h3:hover{
    box-shadow: 0px 5px 5px #b2bec3; 
    color: #30336b;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.product-list{
    background-color: #6e5736; 
    padding: 3em;
}
.product-list .card1{
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3; 
    text-align: center;
    font-family: 'Poppins';
}
.card1 .titele{
    font-family: 'Break';
    font-size: 18px;
    font-weight: bold;

}
.card1 img{
    max-width: 50%;
    border-radius: 5px;
}
.card1 .text{
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em; 
    font-size: 12px; 
}
.buy-button{
    margin-top: 20px;
    background-color: #f9ca24 ;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
}
.buy-button:hover{
    box-shadow: 0px 5px 5px #b2bec3; 
    color: #30336b;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
h6{
    color: darkgray;
    font-size: 12px;
    display: flex;
    padding: 1px;
}
h4{
    text-align: center;
    color: rgb(71, 68, 68);
    font-size: 12px;
}
.wrapper{
    margin: 30px;
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #6e5736;
}
.wrapper h1{
    color: rgb(7, 61, 52);
    font-family: 'Break';
    font-size: 3em;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    border-radius: 5%;
    min-width: 220px;
    width: 320px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(75, 73, 73);
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}
.card img{
    margin: 20px;
    color: sandybrown;
}
.loa{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: px;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    color: black;
}
.card p{
    color:#6c757d ;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: rgb(252, 245, 245);
}
.card:hover h2{
    font-weight: 500;
    color: rgb(252, 245, 245);
}
.card:nth-child(1):hover{
    background: rgb(0, 110, 33);
}
.card:nth-child(2):hover{
    background: rgb(4, 92, 71);
}
.card:nth-child(3):hover{
    background: rgb(77, 21, 17);    
}
.conn{
    border-radius: 3%;
    background-color: #6e5730;
    width: 80%;
    margin: 8px auto;
}
.conn h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center ;
}
.row22{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.col22{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.samll-img-row{
    display: flex;
    background: #6e5736 ;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width:85%;
}
.small-img{
    position: relative;
}
.col22 .samll-img-row p{
    font-size: 20px;
    font-family: 'rianty';
    color: rgb(161, 163, 21);
}
.small-img img{
    width: 150px;
}
.samll-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 50%);
    cursor: pointer;
}
.small-img .play-btn{
    top: 20%;
    width: 35px;
}
.video-playe{
    width: 70%;
    position: absolute;
    left: 49%;
    top: 100%;
    transform: translate(-50%, 50%);
    display: none;
}
video:focus{
    outline: none;
}
.cl{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
}
.player{
    position: relative;
    width: 350px;
}
.player .imgbx{
    position: relative;
    width: 100%;
    height: 350%;
}
.player .imgbx img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player audio{
    width: 100%;
    outline: none;
}
.card1 .heading h2{
    color: rgb(35, 39, 0);
    font-family: 'rianty';
    text-align: center;
    font-size: 18px;
}
.card1 .heading h2 span{ 
    color: rgb(124, 91, 0);
    font-family: 'StickyNotes';
    font-weight: 100;
}