@font-face {
    font-family: rianty;
    src: url(../font/Rianty.ttf);
}
@font-face {
    font-family: Honey;
    src: url(../font/Honey.otf);
}
@font-face {
    font-family: Break;
    src: url(../font/Break.ttf);
}
@font-face {
    font-family: StickyNotes;
    src: url(../font/StickyNotes.otf);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(63, 54, 52);
}
.wapper{
    width: 1100px;
    margin: auto;
}
header{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('../Images/2.jpg');
    height: 65vh;
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-bottom-left-radius: 30%; 
    border-bottom-right-radius: 30%; 
}
.nav_links{
   
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav_links li{
    display: inline-block;
}
.nav_links li a{
    font-family: 'StickyNotes';
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 25px;
}
.nav_links li a:hover{
    color: rgb(255, 196, 0);
}
.logo img{
    margin: 20px;
    float: left;
    width: 100px;
    height: auto;
}
.body5{
	width: 100%;
	height: 400px;
    background-position: center;
	box-sizing: border-box;
}
.showcase p{
    font-weight: lighter;
    font-size: 40px;
    margin-top: 90px;
    text-align: center;
    color: lightcyan;
    cursor: pointer;
}
footer {
    align-items: center;
    width: 100%;
    background: rgb(63,68,60);
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('../Images/lu10.jpg');
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(162, 163, 162);
}
.footer-col{
    flex-basis: 25%;
    padding: 10px;
}
.logo2{
    width: 100px;
    margin-bottom: 30px;
}
.logo11{
    width: 30px;
    margin: 1%;
    margin-bottom: 30px;
}
.footer-col h3{
    font-size: 20px;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-col h2{
    font-style: italic;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}
.footer-col p a{
    font-weight: bold;
    font-size: 12px;
    color: rgb(201, 194, 64);
}
.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.line{
    width: 60%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(219, 202, 202);
}
.aa{ 
    text-align: center;
}

.content{
    align-items: center;
}
.text h2{ 
    font-style: oblique;
    display: flex;
    color: yellowgreen;
    margin-top: 150px;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
}
.text h3{
    color: wheat;
    text-align: center;
    justify-content: center;
}
.text p{
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}
li, a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    color: rgb(252, 245, 245);
    font-size: 15px;
    text-decoration: none;
}
h2{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 19px;
    color: rgb(201, 137, 19);
}

.showcase{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0 2px;

}
.body5 img{
    width: 100%;
    height: 100%;
}
.bod1 {
    margin-top: 100px;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(196, 106, 21);
}
.body0{
    width: 100%;
	height: 300px;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}
.lo{
    margin-left: 430px;
    border-radius: 50px;
    width: 300px;
    
}

.bod11 { 
    margin-top: 20px;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(73, 38, 6);
}
.cont1{
    position: relative;
    min-height: 100vh;
    padding: 5px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('../Images/wall.jpg');
    background-size: cover;

}
.cont1 .cont{
    max-width: 800px;
    text-align: center;
}
.cont1 .cont h2{
    font-size: 36px;
    font-weight: 500;
    color: cornsilk;
}
.cont1 .cont p{

    font-weight: 300;
    color: cornsilk;
}
.cntt1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.cntt1 .cont-info{
    width: 50%;
    display: flex;
     flex-direction: column;
}
.cntt1 .cont-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.cntt1 .cont-info .box .icon{
    background: rgb(48, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.cntt1 .cont-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.loo1{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}
.cntt1 .cont-info .box .text h3{
    font-weight: 500;
    color: aqua;
}
.contForm{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contForm .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;

}
.contForm .inputbox input:focus ~ span,
.contForm .inputbox input:valid ~ span,
.contForm .inputbox textarea:focus ~ span,
.contForm .inputbox textarea:valid ~ span{

    color: #21175a;
    font-size: 12px;
    transform: translatey(-20px);
}
.contForm .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size:18px ;
}
.wrapper{
    margin: 30px;
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(63, 54, 52);
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    border-radius: 5%;
    min-width: 220px;
    width: 320px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(53, 52, 52);
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}
.card img{
    margin: 20px;
    color: sandybrown;
}
.loa{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: px;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    color: black;
}
.card p{
    color:#6c757d ;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: rgb(252, 245, 245);
}
.card:hover h2{
    font-weight: 500;
    color: rgb(252, 245, 245);
}
.card:nth-child(1):hover{
    background: rgb(14,68,55);
    
}
.card:nth-child(2):hover{
    background: rgb(10,177,137);
}
.card:nth-child(3):hover{
    background: rgb(139, 79, 11);
    
      
}
.card:nth-child(4):hover{
    background: rgb(68, 64, 14);
   
}
.card:nth-child(5):hover{
    background: rgb(32, 28, 56);
}
.card:nth-child(6):hover{
    background: rgb(129, 53, 23);
}
.cont11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    margin-bottom: 30px;
}
.cont11 .heading h2{
    color: rgb(37, 20, 20);
    font-family: 'rianty';
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}
.cont11 .heading h2 span{ 
    color: rgb(148, 106, 0);
    font-family: 'rianty';
    font-weight: 100;
}